<div class="relative overflow-x-auto m-8">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Id</th>
          <th scope="col" class="px-6 py-3">Username</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3">Password Hash</th>
          <th scope="col" class="px-6 py-3">Refresh Token</th>
          <th scope="col" class="px-6 py-3">Refresh Token Expiry</th>
          <th scope="col" class="px-6 py-3">Role</th>
          <th scope="col" class="px-6 py-3">Date of Birth</th>
          <th scope="col" class="px-6 py-3">Place of Birth</th>
          <th scope="col" class="px-6 py-3">Phone Number</th>
          <th scope="col" class="px-6 py-3">Address</th>
          <th scope="col" class="px-6 py-3">Gender</th>
          <th scope="col" class="px-6 py-3">Created At</th>
          <th scope="col" class="px-6 py-3">Updated At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ user.id }}
          </th>
          <td class="px-6 py-4">{{ user.userName }}</td>
          <td class="px-6 py-4">{{ user.email }}</td>
          <td class="px-6 py-4">{{ user.passwordHash }}</td>
          <td class="px-6 py-4">{{ user.refreshToken }}</td>
          <td class="px-6 py-4">{{ user.refreshTokenExpiry | date }}</td>
          <td class="px-6 py-4">{{ user.role }}</td>
          <td class="px-6 py-4">{{ user.dateOfBirth | date }}</td>
          <td class="px-6 py-4">{{ user.placeOfBirth }}</td>
          <td class="px-6 py-4">{{ user.phoneNumber }}</td>
          <td class="px-6 py-4">{{ user.address }}</td>
          <td class="px-6 py-4">{{ user.gender }}</td>
          <td class="px-6 py-4">{{ user.createdAt | date }}</td>
          <td class="px-6 py-4">{{ user.updatedAt | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  